USE [Financial Sample]
GO
/****** Objeto: View [dbo].[v_staging_financial_bulk] Fecha de script: 24/6/2026 04:05:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_staging_financial_bulk] AS
SELECT 
    segment, country, product, discount_band, units_sold, 
    manufacturing_price, sale_price, gross_sales, discounts, 
    sales, cogs, profit, transaction_date, month_number, 
    month_name, transaction_year
FROM staging_financial;
GO
/****** Objeto: Table [dbo].[dim_country] Fecha de script: 24/6/2026 04:05:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_country](
	[country_id] [int] IDENTITY(1,1) NOT NULL,
	[country_name] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[country_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[dim_date] Fecha de script: 24/6/2026 04:05:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_date](
	[date_id] [int] IDENTITY(1,1) NOT NULL,
	[full_date] [date] NOT NULL,
	[month_number] [int] NULL,
	[month_name] [varchar](20) NULL,
	[year] [int] NULL,
	[quarter]  AS (ceiling(datepart(month,[full_date])/(3.0))) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[date_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[dim_discount_band] Fecha de script: 24/6/2026 04:05:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_discount_band](
	[discount_band_id] [int] IDENTITY(1,1) NOT NULL,
	[discount_band_name] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[discount_band_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[dim_product] Fecha de script: 24/6/2026 04:05:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_product](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[product_name] [varchar](50) NOT NULL,
	[manufacturing_price] [decimal](15, 2) NULL,
	[sale_price] [decimal](15, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[dim_segment] Fecha de script: 24/6/2026 04:05:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_segment](
	[segment_id] [int] IDENTITY(1,1) NOT NULL,
	[segment_name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[segment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[fact_sales] Fecha de script: 24/6/2026 04:05:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fact_sales](
	[fact_id] [int] IDENTITY(1,1) NOT NULL,
	[date_id] [int] NULL,
	[segment_id] [int] NULL,
	[country_id] [int] NULL,
	[product_id] [int] NULL,
	[discount_band_id] [int] NULL,
	[units_sold] [decimal](18, 2) NULL,
	[gross_sales] [decimal](18, 2) NULL,
	[discounts] [decimal](18, 2) NULL,
	[sales] [decimal](18, 2) NULL,
	[cogs] [decimal](18, 2) NULL,
	[profit] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[fact_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[staging_raw] Fecha de script: 24/6/2026 04:05:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[staging_raw](
	[segment] [varchar](100) NULL,
	[country] [varchar](100) NULL,
	[product] [varchar](100) NULL,
	[discount_band] [varchar](100) NULL,
	[units_sold] [varchar](100) NULL,
	[manufacturing_price] [varchar](100) NULL,
	[sale_price] [varchar](100) NULL,
	[gross_sales] [varchar](100) NULL,
	[discounts] [varchar](100) NULL,
	[sales] [varchar](100) NULL,
	[cogs] [varchar](100) NULL,
	[profit] [varchar](100) NULL,
	[date] [varchar](100) NULL,
	[month_number] [varchar](100) NULL,
	[month_name] [varchar](100) NULL,
	[year] [varchar](100) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[dim_country] ON 

INSERT [dbo].[dim_country] ([country_id], [country_name]) VALUES (1, N'Canada')
INSERT [dbo].[dim_country] ([country_id], [country_name]) VALUES (2, N'France')
INSERT [dbo].[dim_country] ([country_id], [country_name]) VALUES (3, N'Germany')
SET IDENTITY_INSERT [dbo].[dim_country] OFF
GO
SET IDENTITY_INSERT [dbo].[dim_date] ON 

INSERT [dbo].[dim_date] ([date_id], [full_date], [month_number], [month_name], [year]) VALUES (2, CAST(N'2014-01-01' AS Date), 1, N'January', 2014)
INSERT [dbo].[dim_date] ([date_id], [full_date], [month_number], [month_name], [year]) VALUES (3, CAST(N'2013-01-10' AS Date), 10, N'October', 2013)
INSERT [dbo].[dim_date] ([date_id], [full_date], [month_number], [month_name], [year]) VALUES (4, CAST(N'2014-01-10' AS Date), 10, N'October', 2014)
SET IDENTITY_INSERT [dbo].[dim_date] OFF
GO
SET IDENTITY_INSERT [dbo].[dim_discount_band] ON 

INSERT [dbo].[dim_discount_band] ([discount_band_id], [discount_band_name]) VALUES (1, N' High ')
INSERT [dbo].[dim_discount_band] ([discount_band_id], [discount_band_name]) VALUES (2, N' Low ')
INSERT [dbo].[dim_discount_band] ([discount_band_id], [discount_band_name]) VALUES (3, N' Medium ')
SET IDENTITY_INSERT [dbo].[dim_discount_band] OFF
GO
SET IDENTITY_INSERT [dbo].[dim_product] ON 

INSERT [dbo].[dim_product] ([product_id], [product_name], [manufacturing_price], [sale_price]) VALUES (1, N' Amarilla ', CAST(260.00 AS Decimal(15, 2)), CAST(128.68 AS Decimal(15, 2)))
INSERT [dbo].[dim_product] ([product_id], [product_name], [manufacturing_price], [sale_price]) VALUES (2, N' Carretera ', CAST(3.00 AS Decimal(15, 2)), CAST(111.77 AS Decimal(15, 2)))
INSERT [dbo].[dim_product] ([product_id], [product_name], [manufacturing_price], [sale_price]) VALUES (3, N' Montana ', CAST(5.00 AS Decimal(15, 2)), CAST(117.10 AS Decimal(15, 2)))
SET IDENTITY_INSERT [dbo].[dim_product] OFF
GO
SET IDENTITY_INSERT [dbo].[dim_segment] ON 

INSERT [dbo].[dim_segment] ([segment_id], [segment_name]) VALUES (1, N'Channel Partners')
INSERT [dbo].[dim_segment] ([segment_id], [segment_name]) VALUES (2, N'Enterprise')
INSERT [dbo].[dim_segment] ([segment_id], [segment_name]) VALUES (3, N'Government')
SET IDENTITY_INSERT [dbo].[dim_segment] OFF
GO
SET IDENTITY_INSERT [dbo].[fact_sales] ON 

INSERT [dbo].[fact_sales] ([fact_id], [date_id], [segment_id], [country_id], [product_id], [discount_band_id], [units_sold], [gross_sales], [discounts], [sales], [cogs], [profit]) VALUES (2, 2, 3, 1, 2, 4, CAST(16185.00 AS Decimal(18, 2)), CAST(3237000.00 AS Decimal(18, 2)), NULL, CAST(3237000.00 AS Decimal(18, 2)), CAST(1618500.00 AS Decimal(18, 2)), CAST(1618500.00 AS Decimal(18, 2)))
INSERT [dbo].[fact_sales] ([fact_id], [date_id], [segment_id], [country_id], [product_id], [discount_band_id], [units_sold], [gross_sales], [discounts], [sales], [cogs], [profit]) VALUES (3, 2, 3, 3, 2, 4, CAST(1321.00 AS Decimal(18, 2)), CAST(2642000.00 AS Decimal(18, 2)), NULL, CAST(2642000.00 AS Decimal(18, 2)), CAST(1321000.00 AS Decimal(18, 2)), CAST(1321000.00 AS Decimal(18, 2)))
INSERT [dbo].[fact_sales] ([fact_id], [date_id], [segment_id], [country_id], [product_id], [discount_band_id], [units_sold], [gross_sales], [discounts], [sales], [cogs], [profit]) VALUES (4, 13, 4, 2, 2, 4, CAST(2178.00 AS Decimal(18, 2)), CAST(3267000.00 AS Decimal(18, 2)), NULL, CAST(3267000.00 AS Decimal(18, 2)), CAST(2178000.00 AS Decimal(18, 2)), CAST(1089000.00 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[fact_sales] OFF
GO
INSERT [dbo].[staging_raw] ([segment], [country], [product], [discount_band], [units_sold], [manufacturing_price], [sale_price], [gross_sales], [discounts], [sales], [cogs], [profit], [date], [month_number], [month_name], [year]) VALUES (N'Government', N'Canada', N' Carretera ', N' None ', N'16185', N'3.00', N'20.00', N'3237000', N'-', N'3237000', N'1618500', N'1618500', N'1/1/2014', N'1', N'January', N'2014')
INSERT [dbo].[staging_raw] ([segment], [country], [product], [discount_band], [units_sold], [manufacturing_price], [sale_price], [gross_sales], [discounts], [sales], [cogs], [profit], [date], [month_number], [month_name], [year]) VALUES (N'Government', N'Germany', N' Carretera ', N' None ', N'1321', N'3.00', N'20.00', N'2642000', N'-', N'2642000', N'1321000', N'1321000', N'1/1/2014', N'1', N'January', N'2014')
INSERT [dbo].[staging_raw] ([segment], [country], [product], [discount_band], [units_sold], [manufacturing_price], [sale_price], [gross_sales], [discounts], [sales], [cogs], [profit], [date], [month_number], [month_name], [year]) VALUES (N'Midmarket', N'France', N' Carretera ', N' None ', N'2178', N'3.00', N'15.00', N'3267000', N'-', N'3267000', N'2178000', N'1089000', N'1/6/2014', N'6', N'June', N'2014')
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__dim_coun__F70188946FC23459] Fecha de script: 24/6/2026 04:05:26 ******/
ALTER TABLE [dbo].[dim_country] ADD UNIQUE NONCLUSTERED 
(
	[country_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [UQ__dim_date__6CE94CEC23992336] Fecha de script: 24/6/2026 04:05:26 ******/
ALTER TABLE [dbo].[dim_date] ADD UNIQUE NONCLUSTERED 
(
	[full_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__dim_disc__64F1E7A218B8F88D] Fecha de script: 24/6/2026 04:05:26 ******/
ALTER TABLE [dbo].[dim_discount_band] ADD UNIQUE NONCLUSTERED 
(
	[discount_band_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__dim_prod__2B5A6A5FC7D0ED75] Fecha de script: 24/6/2026 04:05:26 ******/
ALTER TABLE [dbo].[dim_product] ADD UNIQUE NONCLUSTERED 
(
	[product_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__dim_segm__04E352B5D114D84C] Fecha de script: 24/6/2026 04:05:26 ******/
ALTER TABLE [dbo].[dim_segment] ADD UNIQUE NONCLUSTERED 
(
	[segment_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[fact_sales]  WITH CHECK ADD FOREIGN KEY([country_id])
REFERENCES [dbo].[dim_country] ([country_id])
GO
ALTER TABLE [dbo].[fact_sales]  WITH CHECK ADD FOREIGN KEY([date_id])
REFERENCES [dbo].[dim_date] ([date_id])
GO
ALTER TABLE [dbo].[fact_sales]  WITH CHECK ADD FOREIGN KEY([discount_band_id])
REFERENCES [dbo].[dim_discount_band] ([discount_band_id])
GO
ALTER TABLE [dbo].[fact_sales]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[dim_product] ([product_id])
GO
ALTER TABLE [dbo].[fact_sales]  WITH CHECK ADD FOREIGN KEY([segment_id])
REFERENCES [dbo].[dim_segment] ([segment_id])
GO
